body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 1em 3em 0em 3em;
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the columns horizontally */
    max-width: 100%;
}

.column {
    flex: 1 1 300px;
    margin: 10px;
    max-width: 100%; /* Ensure the columns don't exceed the container width */
    margin-right: 1rem;
    margin-left: 1rem;
}
canvas {
    border: 1px solid black;
}


.card {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
}

.card h2 {
  font-size: 1.2rem;
  margin-top: 0;
}

.card textarea,
.card input[type="file"],
.card select {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

.card #image-preview {
  height: 200px;
  display: flexbox;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.card #formatted-text-output {
  border: 1px solid #ddd;
  padding: 10px;
}

.card #recent-images-gallery {
  display: flex;
  flex-wrap: wrap;
}

.card img {
  width: 100px;
  height: 100px;
  object-fit:scale-down;

}

.card #copy-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.card #paste-textarea {
  height: 100px;
}
#picture-output {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:12px;
    line-height: 1;
    word-wrap: break-word !important;
    white-space:pre;
    max-width: 100%;
    min-height: 1em;
    border: 1px solid #ddd;
    padding: 5px 10px;
    margin: 10px 0px;
    overflow:hidden;
    
}
.card #text-input {
    resize: none;
    
}