/* style for Othello game and AI */
* {
    margin: 0;

    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
    background-color: #222222;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f4fdfa;
}



#controls {
    display: grid;
    grid-template-columns: max(25vw, 15rem) 1fr;
    padding: 1.5rem;

}

#controls button {
    width: 10rem;
    font-size: 16px;
    border:1px solid #009067;
    height: 2rem;
    
    /* color: #009067; */
    transition: background-color .3s ease;
}

#controls button:hover {
    background-color: #009067;
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

#board {
    position: relative;
    top: - 25px;
    left: -25px;
    margin-top: 10px;
}

#status {
    height: 2rem;
    font-size: 18px;
    line-height: 2rem;
    
}

