/* @font-face {
    font-family: 'Madimi';
    src: url('Madimi_One/MadimiOne-Regular.ttf') format('truetype');
}  */
body {
  text-align: center;
  background-color: #b46746;
}



canvas {
  border: 1px solid black;
}

html,
body {
  margin: 0;
  padding: 0;

}

* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/* disable scrolling */
body {
  overflow: hidden;
}