body {
  text-align: center;
}



canvas {
  border: 1px solid black;
}

html,
body {
  margin: 0;
  padding: 0;

}

* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/* disable scrolling */
body {
  overflow: hidden;
}