body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 1em 3em 0em 3em;
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the columns horizontally */
    max-width: 100%;
}

.column {
    flex: 1 1 300px;
    margin: 10px;
    max-width: 100%; /* Ensure the columns don't exceed the container width */
    margin-right: 1rem;
    margin-left: 1rem;
}
canvas {
    border: 1px solid black;
}

#textinput {
    width: 250px;
    height: 350px;
    resize: none;
}

#pictureoutput {
    font-family:'Roboto Mono', Courier, monospace;
    font-size:12px;
    word-wrap: break-word;
    
}
