#thisisme {
    background-color: brown;
    display: block;
}

body{
    background-color: #ccccff; /* hello */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hi {
    background-color: aqua;
}

.color{
    background-color: blue;
}

#heading{
    margin-bottom: 0px;
}
#colleges {
    width: 200px;
}