@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Nanum+Gothic&family=Noto+Emoji:wght@700&display=swap');

:root {
  --correct: rgb(88, 176, 84);
  --partially-correct: rgb(240, 255, 80);
  --incorrect: rgb(251, 86, 26);
}


body {
    background-color: #fcfcfc;
    font-family: 'Nanum Gothic', sans-serif;
}

#heading {
    margin-bottom: 0px;
    margin-top: 4rem;
    text-align: center;
    font-size: 4rem;
    font-family: "EB Garamond", serif;
}

#subheading {
    text-align: center;
    
}

datalist {
    width: 200px;
    font-family: "EB Garamond", serif;
}

#guess-button {
    border-radius: 4px;
    display: block;
    margin: auto;
    background-color: rgba(164, 133, 62, 0.824);
    color: #fcfcfc;
    border: none;
    padding: 1rem 0.5rem;
    font-size: 18px;
    width: 250px;
}

#text-input {
    margin: auto;
    border-radius: 4px;
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 60vw;
    min-width: 100px;
    max-width: 600px;
    padding: 1rem;
    height: 3rem;
    font-size: 17px;
    padding: 0rem 0.5rem;
    border: 1px solid rgb(2 40 115);
    background-color: inherit;
    font-family: inherit;
}

#guess-button:hover {
    background-color: rgb(164, 133, 62);
}

@media only screen and (max-width: 300px) {
    #heading {
        font-size: 2.5rem;
    }

    #text-input {
        width: 80vw;
    }

    #guess-button {
        width: 100%;
    }
}

#guess-table {
    margin-top: 1rem;
    width:100%;
    text-align: center;
    background-color: rgb(240, 240, 240);
}
#guess-table td, th{
    padding: 1rem;
    border-radius: 5px;
    border: none;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  background-color: #f5f5f5;
  padding: 0 20px;
}

.toolbar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  color: #333;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}
.toolbar-button:visited {
  text-decoration: none;
}

.toolbar-button:hover {
  background-color: #eee;
}

.fa-info-circle,
.fa-external-link-alt {
  font-size: 20px;
}


.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  overflow: auto;
}

.modal-content {
  background-color: #fff;
  width: 60%;
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  animation: modal-fade 0.4s ease-out;
}

.modal-title {
    font-family: "EB Garamond", serif;
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.modal-subtitle {
    font-family: "EB Garamond", serif;
  font-size: 25px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.green-highlight {
    background-color: var(--correct);
}
.yellow-highlight {
    background-color: var(--partially-correct);
}
.modal-paragraph {
  line-height: 24px;
  font-size: 18px;

  margin: 0px 30px 10px;
}
.modal-list {
    text-align: left;
    font-size: 18px;
    margin: 0px 30px 10px;
    line-height: 24px;
}

.modal-close-btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}



@keyframes modal-fade {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
  }
}